.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar {
    padding: 1rem;
    background-color: rgb(55, 55, 55) !important;
}

.logo {
    color: rgb(201 200 200);
    font-weight: 600;
}